* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Baloo 2', cursive;
    background-image: url("bg112.jpg");
    background-size: cover;
    background-position: center;
}

.btn1{
    display:inline-block;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 3%;
}

.ask{
    text-align: right;
    padding-right: 20px;
    margin-bottom: 5%;
}

.banner-text1{
text-align: right;
padding-right: 10px;
}

.banner-text2{
text-align: right;
padding-right: 40px;
}

.ttle{
    padding-left: 30px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.103);
    padding-top: 10;
}

.cntc{
    text-align: right;
    padding-right: 20px;
}